.board-index-container {
  display: flex;
  margin: 20px auto;
}

.board-index-thumbnail {
  width: 240px;
  height: 240px;
  margin: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.board-index-thumbnail-small {
  height: 40px;
  width: 140px;
  margin: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  color: $dark-gray;
}

.profile-boards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: transparent;
  flex-direction: row;
  margin-bottom: 100px;
  margin-top:30px;
}

.user-profile-items {
  position: relative;
  background-color: transparent;
  width: 100vw;
  z-index: 1;
}

.board-index-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  border: 2px solid $gray;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  width: 240px;
  height: 240px;
  color: $dark-mint;
}

.board-index-item-container:hover {
  background-color: white;
  border: 2px solid $dark-gray;
  cursor: pointer;
}

.create-board-index-thumbnail {
  width: 240px;
  height: 240px;
  margin: 20px;
}


.delete-yes-no-buttons {
  display: flex;
  align-items: baseline;
  position: absolute;
  margin-top:75px;
  right: 55px;
}

.delete-button-yes {
  font-size: 20px;
  padding: 5px 10px;


  vertical-align: middle;

  border-radius: 25px;
  cursor: pointer;
  color: $dark-gray;
  background-color: $light-mint;
    &:hover {
      background: $dark-mint;
    }
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.delete-button-no {
  font-size: 20px;
  padding: 5px 10px;
  margin-left:10px;

  vertical-align: middle;

  border-radius: 25px;
  cursor: pointer;
  color: $dark-gray;
  background-color: $light-mint;
    &:hover {
      background: $dark-mint;
    }
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.pins-in-board-thumbnail-pic {
  width: 50px;
  max-height: 80px;
  border-radius: 10px;
  margin: 2px;
  border: 1px solid $dark-mint;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}
