.follows-index-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 90px;
}


.user-following-profile-top {
  display: flex;
  align-items: center;
}

.following-label {

}

.user-following-profile-pic-thumbnail {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid slategray;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}

.user-profile-following-pic-and-follow {
  display: flex;
  flex-direction: column;
  align-items: center;
}
