.nav-bar {
  padding: 15px 0px;
  display: flex;
  flex-direction: row;
  position: fixed;
  margin-top: -5px;
  z-index: 10;
  width: 100%;
  background-color: white;
  justify-content: space-between;
  border-bottom: 1px solid $light-gray;
}

.left-nav {
  margin-left: 15px;
  margin-bottom: 1px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo {
  position: absolute;
  top: 14px;
  left: 30px;
  font-size: 28px;
  font-weight: bold;
  color: $dark-mint;
}

.create-pin-button {
  color: $dark-mint;
  font-size: 15px;
}

.search {
  background: $light-gray;
  width: 60%;
  height: 38px;
  margin-left: 22px;
  margin-right: 20px;
  margin-top: 2px;
  border: 1px;
  border-style: solid;
  border-color: #daede8;
  border-radius: 7px;
  display: flex;
  justify-content: flex-start;
}

.right-nav {
  width: 30%;
  margin-top: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $dark-mint;
}

.right-nav-text {
  display: flex;
  width:50%;
  justify-content: space-around;

}

.logos {
  display: flex;
  width: 35%;
  justify-content: space-around;
  padding-bottom: 3px;
}
