.nav-bar {
  padding: 15px 0px;
  display: flex;
  flex-direction: row;
  position: fixed;
  margin-top: -5px;
  z-index: 10;
  width: 100%;
  background-color: white;
  justify-content: space-between;
  border-bottom: 1px solid $light-gray;
}

.left-nav {
  margin-left: 15px;
  margin-bottom: 1px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .nav-logo-container {
//
//   &:hover {
//     background: $gray;
//     border-radius: 50%;
//     width: 40px;
//     height: 40px;
//   }
// }

.nav-logo{
  position: absolute;
  top: 14px;
  left: 30px;
  font-size: 28px;
  font-weight: bold;
  color: $dark-mint;
}

button {
  color: $dark-mint;
  font-size: 15px;
}

.search {
  background: $light-gray;
  width: 75%;
  height: 38px;
  margin-left: 22px;
  margin-right: 45px;
  margin-top: 2px;
  border: 1px;
  border-style: solid;
  border-color: #daede8;
  border-radius: 7px;
  display: flex;
  justify-content: center;
}

.search-text {
  margin: 12px;
  font-size: 14px;
  justify-content: center;
  color: $dark-gray;
}

.right {
  width: 30%;
  margin-top: 12px;
  margin-right: 27px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  color: $dark-mint;
}
