.pin-modal-container {
  padding: 5px;
  border: 1px solid $dark-gray;
  margin-bottom : 5px;
  border-radius: 5px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display:block;
  width : 300px;
}

.pin-detail-container {
  font-family: 'Comfortaa', cursive;
}

.pin-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.pin-title {
  margin-bottom: 10px;
}

.pin-by {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  margin-bottom: 10px;
  margin: 5px;
}

.pin-by-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: $dark-mint;
  margin: 5px;
}

.pin-detail-user-image {
  margin-left: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 1px;
  border-style: solid;
  border-color: rgba(181, 181, 181, 0.23);
}

.pin-detail-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.pin-detail-image {
  border-radius: 3px;
  border: 1px;
  border-style: solid;
  border-color: rgba(181, 181, 181, 0.23);
}

.board-text {
  font-size: 15px;
  padding: 5px 10px;
  vertical-align: middle;
  margin-top: 9px;
  border-radius: 25px;
  cursor: pointer;
  color: $dark-mint;
  background-color: rgba(181, 181, 181, 0.23);
    &:hover {
      background: $gray;
    }
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.pin-button {
  font-size: 13px;
  padding: 5px 10px;
  vertical-align: middle;
  margin-top: 20px;
  border-radius: 25px;
  cursor: pointer;
  color: $dark-gray;
  background-color: $light-mint;
    &:hover {
      background: $dark-mint;
    }
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.pin-button-create-board {
  font-size: 13px;
  vertical-align: middle;
  margin-top: 20px;
  border-radius: 25px;
  cursor: pointer;
  color: $dark-gray;
  background-color: $light-mint;
    &:hover {
      background: $dark-mint;
    }
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.pin-button-unclickable {
  font-size: 13px;
  padding: 5px 10px;
  vertical-align: middle;
  margin-top: 20px;
  cursor: default;
  border-radius: 25px;
  color: $dark-gray;
  background-color: $light-mint;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.pin-board-div {
  left: 20px;
  top: 12px;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.pin-board-select {
  position: relative;
  right: 16%;
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pinning-dropdown-container {
  display: flex;
  flex-direction: column;
}

.delete-button {
  font-size: 15px;
  padding: 5px 10px;
  position: absolute;
  top: 0px;
  right: 20px;
  vertical-align: middle;
  margin-top: 20px;
  border-radius: 25px;
  cursor: pointer;
  color: $red;
  background-color: rgba(181, 181, 181, 0.23);
    &:hover {
      background: $gray;
    }
}

.delete-pin-button {
  font-size: 15px;
  padding: 5px 10px;
  position: absolute;
  top: 2px;
  right: 20px;
  vertical-align: middle;
  margin-top: 20px;
  border-radius: 25px;
  cursor: pointer;
  color: $red;
  background-color: rgba(181, 181, 181, 0.23);
    &:hover {
      background: $gray;
    }
}

.delete-pin-yes-no-buttons {
  display: flex;
  align-items: baseline;
  position: absolute;
  margin-top:50px;
  right: 27px;
}

.delete-pin-button-yes {
  font-size: 20px;
  padding: 5px 10px;
  vertical-align: middle;
  border-radius: 25px;
  cursor: pointer;
  color: $dark-gray;
  background-color: $light-mint;
    &:hover {
      background: $dark-mint;
    }
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.delete-pin-button-no {
  font-size: 20px;
  padding: 5px 10px;
  margin-left:10px;
  vertical-align: middle;
  border-radius: 25px;
  cursor: pointer;
  color: $dark-gray;
  background-color: $light-mint;
    &:hover {
      background: $dark-mint;
    }
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.pin-board-select {
  font-size: 15px;
  padding: 5px 10px;
  position: absolute;
  top: 0px;
  left: 20px;
  vertical-align: middle;
  margin-top: 20px;
  border-radius: 25px;
  cursor: pointer;
  color: $dark-gray;
  background-color: $light-gray;
    &:hover {
      background: $dark-mint;
    }
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}


.spinner {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 1px solid #f6f;
  border-top-color: #0e0;
  border-right-color: #0dd;
  border-bottom-color: #f90;
  animation: spinner .6s linear infinite;
}
