
.create-pin-form {
  background-color: $light-gray;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  padding: 25px 35px;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
}


.create-pin-input, textarea {
  font-weight: bold;
  font-size: 14px;
  margin: 7px;
  margin-bottom: 12px;
  margin-top: 1px;
  border-radius: 9px;
  border: 0;
  color: #333;
  padding: 10px;
  background-color: rgba(131, 122, 133, 0.11);
  box-shadow: none;
  width: 278px;
  letter-spacing: -.4px;
  text-align: center;
}




.main-message {
  margin-bottom: 24px;
  margin-top: 18px;
}

span {
  font-family: 'Comfortaa', cursive;
  font-size: 12px;
}

.create-pin-errors {
  color: red;
  font-weight: bold;
  padding: 2px;
  border-radius: 5px;
}


.submit-create-button {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  height: 36px;
  border: 0px;
  height: 36px;
  border-radius: 38px;
  padding: 0 18px;
  vertical-align: middle;
  margin-top: 20px;
  cursor: pointer;
  color: black;
  background-color: $light-mint;
}

.upload-image-container {
  padding: 10px;
}


.create-thumbnail {
  max-width: 200px;
  max-height: 200px;
  border-style: solid;
  border: 1px;
}

.image-and-submit {
  display: inline-flex;
  flex-direction: column;
}


.submit-create-button:hover {
  background-color: $dark-mint;
}

.create-pin-input:focus {
  outline: none;
}

.pin-create-modal-div {
  margin-bottom: 10px;
}

.input-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-form-dropzone {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: $gray;
  background: $light-gray;
  background-size: cover;
  width: 201px;
  height: 201px;
  border: 1px dashed $dark-gray;
  cursor: pointer;
}

.dropzone-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pins-index {
  margin: 5px auto;
  margin-top: 0px;
}

.pin-index-container {
  padding: 76px 18px 0px;
}

.index-thumbnail {
  margin: 2px;
  width: 300px;
  height: auto;
  border-radius: 10px;
  cursor: -webkit-zoom-in;
  border: 1px;
}

.pin-detail-image {
  max-width: 600px;
  border-style: solid;
  border: 1px;
  border-radius: 10px;
}
