.pin-detail-container {
  font-family: 'Comfortaa', cursive;
}

.pin-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-link {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: $dark-mint;
  margin: 5px;
}

.pin-detail-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.pin-detail-image {
  border-radius: 3px;
  border: 1px;
  border-style: solid;
  border-color: rgba(181, 181, 181, 0.23);
}

.board-text {
  font-size: 15px;
  padding: 5px 10px;
  vertical-align: middle;
  margin-top: 9px;
  border-radius: 25px;
  cursor: pointer;
  color: $dark-mint;
  background-color: rgba(181, 181, 181, 0.23);
    &:hover {
      background: $gray;
    }
  }


.pin-button {
  font-size: 13px;
  padding: 5px 10px;
  vertical-align: middle;
  margin-top: 20px;
  border-radius: 25px;
  cursor: pointer;
  color: $dark-gray;
  background-color: $light-mint;
    &:hover {
      background: $dark-mint;
    }
  }

.pin-button-unclickable {
  font-size: 13px;
  padding: 5px 10px;
  vertical-align: middle;
  margin-top: 20px;
  cursor: default;
  border-radius: 25px;
  color: $dark-gray;
  background-color: $light-mint;
}

.pin-board-div {
  left: 20px;
  height: 158px;
  max-width: 150px;
  overflow: auto;
  position: absolute;
}

.pin-board-select {
  position: relative;
  right: 16%;
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pin-board-list {

}

.pinning-dropdown-container {
  display: flex;
  flex-direction: column;
}

.delete-button {
  font-size: 15px;
  padding: 5px 10px;
  position: absolute;
  top: 0px;
  right: 20px;
  vertical-align: middle;
  margin-top: 20px;
  border-radius: 25px;
  cursor: pointer;
  color: $red;
  background-color: rgba(181, 181, 181, 0.23);
    &:hover {
      background: $gray;
    }
}

.pin-board-select {
  font-size: 15px;
  padding: 5px 10px;
  position: absolute;
  top: 0px;
  left: 20px;
  vertical-align: middle;
  margin-top: 20px;
  border-radius: 25px;
  cursor: pointer;
  color: $dark-gray;
  background-color: $light-gray;
    &:hover {
      background: $dark-mint;
    }
}
