.user-profile-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 55px;
}

.user-profile-top {
  margin-top: 35px;
  height: auto;
  display: flex;
  align-items: center;
}

.user-profile-info-container {
  margin-left: -40px
}

.user-profile-username{
  font-size: 30px;
  color: $dark-gray;
  font-weight: bold;
}

.profile-follow-button {
  margin-bottom: 20px;
}

.user-profile-description {
  font-size: 18px;
  width: 380px;
  color: $dark-gray;
}

.user-profile-pic {
  display: inline-block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid slategray;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.user-profile-pic-and-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.follows-container {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
}

.follow-link {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.follow-link:hover {
  background-color: $light-gray;

  border-radius: 10px;
}

.user-profile-buttons-bar {
  display: flex;
  margin: 20px;
}


.tab-buttons-bar-container {
  width: 30%;
  margin-top: 40px;
  margin-right: 27px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  color: #37BC9B;
}


.tab-button {
  font-size: 30px;
  color: $dark-gray;
  border-radius: 10px;
}

.tab-button:hover {
font-weight: bold;
}
