.user-profile-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 55px;
}

.user-profile-top {
  margin-top: 44px;
  height: auto;
  display: flex;
  align-items: center;
}

.user-profile-info-container {
  margin-left: -40px
}

.user-profile-username {
  font-size: 30px;
  color: $dark-gray;
  font-weight: bold;
}

.edit-user-modal-button {
  margin-top: 5px;
}

.profile-follow-button {
  font-size: 15px;
  font-weight: bold;
  border: 0px;
  height: 36px;
  border-radius: 38px;
  padding: 0 18px;
  vertical-align: middle;
  margin-bottom: 20px;
  cursor: pointer;
  color: black;
  background-color: $light-mint;
}

.user-profile-description {
  margin-top: 20px;
  font-size: 18px;
  width: 380px;
  color: $dark-gray;
}

.user-profile-pic {
  display: inline-block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid slategray;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.user-profile-pic-and-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.follows-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 60px;
}

.follow-link {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 22px;
  border-radius: 25px;
  background-color: transparent;
  color: $dark-gray;
}

.follow-link:hover {
  padding: 10px;
  border-radius: 25px;
  font-weight: normal;
  background-color: $light-gray;
  color: black;
}

.follow-count {
  font-weight: bold;
  font-size: 26px;
  color: black;
}

.tab-buttons-bar-container {
  width: 30%;
  margin-top: 40px;
  margin-right: 27px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  color: $dark-mint;
}

.tab-button-on {
  padding: 10px;
  font-size: 22px;
  border-radius: 25px;
  font-weight: normal;
  background-color: $light-gray;
  color: black;
}

.tab-button-on:hover {
  padding: 10px;
  border-radius: 25px;
  font-weight: normal;
  background-color: $light-gray;
  color: black;
}

.tab-button-off {
  padding: 10px;
  font-size: 22px;
  border-radius: 25px;
  background-color: transparent;
  color: rgba(black, 0.5);
}


.tab-button-off:hover {
  padding: 10px;
  border-radius: 25px;
  font-weight: normal;
  background-color: $light-gray;
  color: black;
}

.follows-index-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 89px;
}

.user-pins {
  margin: 5px auto;
  margin-top: 30px;
}

.user-following-profile-pic-thumbnail {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid slategray;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.user-profile-following-pic-and-follow {
  display: flex;
  flex-direction: column;
  align-items: center;
}
