.user-profile-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.user-profile-top {
  margin: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.user-profile-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.user-profile-username{
  margin-bottom: 20px;
  align-self: center;
  font-size: 30px;
  color: $dark-gray;
  font-weight: bold;
}

.user-profile-description {
  margin-bottom: 20px;
  font-size: 18px;
  color: $dark-gray;
}

.user-profile-pic {
  display: inline-block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.user-profile-bottom {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.user-profile-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: $gray;
}

.user-profile-link.active {
  width: 100px;
  height: 50px;
  color: $dark-gray;
  background: $light-gray;
  border-radius: 50%;
}

.user-profile-buttons-bar {
  display: flex;
  margin: 20px;
}


.user-profile-buttons-bar-container {
  width: 30%;
margin-top: 12px;
margin-right: 27px;
display: flex;
justify-content: space-around;
align-items: baseline;
color: #37BC9B;
}
