.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E8BA9B;
  background-image: url(https://s.pinimg.com/webapp/style/images/bg_multi_case_grid_no_text-adb7650b.jpg);
  background-repeat: repeat;
  background-position: 0 0;
  animation: loginPage 500s linear infinite;
  padding-bottom: 300px;
  position: fixed;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  font-family: 'Comfortaa', cursive;
}

@keyframes loginPage {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0px -10000px;
  }
}

.login-form {
  background-color: $light-gray;
  display: flex;
  margin-top: -18px;
  flex-direction: column;
  vertical-align: middle;
  height: 429px;
  width: 382px;
  padding: 20px 10px;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  align-items: center;
  -webkit-font-smoothing: antialiased;
}

.login-input {
  font-weight: bold;
  font-size: 14px;
  margin: 7px;
  margin-bottom: 12px;
  margin-top: 1px;
  border-radius: 9px;
  border: 0;
  color: #333;
  padding: 10px;
  background-color: rgba(131, 122, 133, 0.11);
  box-shadow: none;
  width: 248px;
  letter-spacing: -.4px;
}

.main-message {
  margin-bottom: 24px;
  margin-top: 18px;
}

.session-errors {
  color: red;
  font-weight: bold;
  padding: 2px;
  border-radius: 5px;
}


.submit-form-button, .top-corner-button, .demo {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  width: 144px;
  border: 0px;
  height: 36px;
  border-radius: 38px;
  padding: 0 18px;
  vertical-align: middle;
  margin-top: 20px;
  cursor: pointer;
  color: black;
  background-color: $light-mint;
}

.top-corner-button {
   position: absolute;
   top: 0px;
   right: 20px;
   width: 100px;
  }


.submit-form-button:hover, .top-corner-button:hover, .demo:hover {
  background-color: $dark-mint;
}

.login-input:focus, .submit-form-button:focus, .demo:focus {
  outline: none;
}
