html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: 'Comfortaa', cursive;
}


h5 {
  margin-top: -20px;
  color: $gray;
  font-size: 18px;
  display: inline;
  font-family: 'Comfortaa', cursive;
}

h4 {
  color: $gray;
  font-size: 25px;
  display: inline;
}

h3 {
  margin-top: -20px;
  color: $dark-mint;
  font-size: 44px;
  font-weight: 600;
  display: inline;
  font-family: 'Comfortaa', cursive;
}

ul {
  list-style: none;
}

span {
  font-family: 'Comfortaa', cursive;
  font-size: 12px;
}


input {
  text-align: center;
}


input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}

button,
input[type="submit"] {
  cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.thumbnail {
  margin: 2px;
  width: 300px;
  height: auto;
}
