nav-bar {
  padding: 15px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
}

.mid-nav {
  display: flex;
  justify-content: center;
  background: #f0f0f0;
  width: 100%;
}

.nav-logo{
  position: relative;
  top: 2px;
  left: 2px;
  font-size: 28px;
  font-family: sans-serif;
  color: #d82404;
  text-decoration: none;
}

.nav-greeting {
  margin: 5px 0px;
  font-size: 20px;
  justify-content: center;
  color: black;
}
